$font-color : #FFFFFF;

$color : #FED233;
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

section{
    width: 100%;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}

.menu-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #584c4cd9; 
    background: url(../img/Rectangle.jpg) center;
    background-size: 100%;
    height: 600px;
}

.head-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 95%;
    border-bottom: 1px solid $color;
    
    ul {
        
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        height: 80%;
        width: 30%;  
    }

    li {
        display: block;    
    }

    li :hover {
        color: $color;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        text-transform: uppercase;
        font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
    }

    a {
        color: $font-color;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        text-transform: uppercase;
        font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
    }
}

.textwithlogo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around; 
}

.accost-home {
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;

    h2 {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 30px;
        color: $font-color;
    }

    p {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 14px;
        line-height: 25px;
        color: $font-color;
    }

    hr {
        border: 1px solid $color;
        width: 20%;
        position: relative;
        left: -40%;
    }

    a {
        color: rgb(15, 15, 15);
        text-decoration: none;
        font-family: 'Gotham Pro', sans-serif;
        border: 1px solid black;
        font-size: 14px;
        font-weight: bold;
        width: 220px;
        height: 50px;
        background: $color;
        border-radius: 7px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
}
.procode {
    height: 52%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    img {
        margin-top: 45px;
        
    }
}
.inside-ourposlug {
    padding: 50px 0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-portfolio-head {
    width: 68%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    h2 {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 30px;
        color: black; 
    }
    p {
        width: 45%;
        font-family: 'Gotham Pro', sans-serif;
        font-size: 14px;
        line-height: 25px;
        color: black;
    }
}
.portfolio-foto {
    padding-top: 50px;
    width: 69%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .block-portfolio-foto {
        padding-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 270px;
        height: 200px;
        background: #FFFFFF;
        border: 2px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px #0000000d;
        border-radius: 7px;
        &:hover {
            border: 2px solid $color;
            box-shadow: 0px 0px 20px #0000000d;
            border-radius: 7px;
        }
        img {
            margin: 0px 0 0 0;
            width: 50px;
            height: 50px;
        }
        h5 {
            font-family: 'Gotham Pro', sans-serif;
            line-height: 20px;
            text-align: center;
            width: 75%;  
        }
        a {
            font-family: 'Gotham Pro', sans-serif;
            font-size: 12px;
            line-height: 23px;
            text-align: center;
            color: #BDBDBD; 
            width: 90%;
            height: 40px;
            border-top: 1px solid #E0E0E0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }  
}
.div-information {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9FAFC;

    .services-text {
        width: 68%;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: 'Gotham Pro', sans-serif;
            font-size: 30px;
            color: black;    
        }

        p {
            width: 65%;
            font-family: 'Gotham Pro', sans-serif;
            font-size: 14px;
            line-height: 25px;
            color: black;
        }
    }

    .div-info {
        margin-top: 50px;
        width: 68%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h4 {
                margin: 0;
                padding: 0 0 10px 0;
                font-family: 'Gotham Pro', sans-serif;
                font-size: 25px;
                color: #FED233;
                border-bottom: 1px solid #BDBDBD;
            }
            p { 
                margin: 10px 0 0 0;
                padding: 0;
                width: 70%;
                font-family: 'Gotham Pro', sans-serif;
                font-size: 14px;
                color: #828282;
            }
        }
    }
}
.div-under {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    background: url(../img/Rectangle.jpg) no-repeat content-box center;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 400px;
    .div-contacts {
        width: 68%;
        height: 80%;
        h2 {
            font-family: 'Gotham Pro', sans-serif;
            font-size: 30px;
            color: #FFFFFF;
        }
        form {
            width: 70%;
            input {
                width: 55%;
                height: 35px;
                margin: 5px 0;
                border-radius: 5px;
                text-indent: 1.5em;
                font-family: 'Gotham Pro', sans-serif;
                font-size: 12px;
                line-height: normal;
                color: #E0E0E0;
            }
            .checkbox {
                height: 11px;
                width: 2%;
                padding: 0;
                margin: 10px 0 0 0;
                
            }
            span {
                color: #F2F2F2;
                font-size: 11px;
                margin-left: 4px;
                margin-top: 0;
                font-family: 'Gotham Pro', sans-serif;
            }
            a {
                margin-top: 30px;
                color: rgb(15, 15, 15);
                text-decoration: none;
                font-family: 'Gotham Pro', sans-serif;
                border: 1px solid black;
                font-size: 14px;
                font-weight: bold;
                width: 220px;
                height: 50px;
                background: $color;
                border-radius: 7px; 
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}
.div-information2 {
    padding: 50px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #faf9f9;

    .services-text2 {
        width: 68%;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: 'Gotham Pro', sans-serif;
            font-size: 30px;
            color: black;    
        }

        p {
            width: 65%;
            font-family: 'Gotham Pro', sans-serif;
            font-size: 14px;
            line-height: 25px;
            color: black;
        }
    }

    .div-info2 {
        margin: 50px 0;
        width: 68%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            padding: 0 0 60px 0;
            
            h4 {
                text-transform: capitalize;
                margin: 0;
                padding: 0 0 10px 0;
                font-family: 'Gotham Pro', sans-serif;
                font-size: 20px;
                color: $color;
                border-bottom: 1px solid #BDBDBD;
            }
            p { 
                margin: 10px 0 0 0;
                padding: 0;
                width: 70%;
                font-family: 'Gotham Pro', sans-serif;
                font-size: 14px;
                color: #828282;

            }
        }
    }
}
.contacts {
    padding-top: 50px;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    .block-working {
        padding-bottom: 50px;
        width: 69%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        hr {
            border: 1px solid $color;
            width:170px;
            position: relative;
            left: -40%;
        }
        h2 {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            font-family: 'Gotham Pro', sans-serif;
            font-size: 30px;
            color: #FFFFFF;    
        }
        .button {
            color: #333333;
            text-decoration: none;
            font-family: 'Gotham Pro', sans-serif;
            border: 1px solid black;
            font-size: 14px;
            font-weight: bold;
            width: 220px;
            height: 50px;
            background: $color;
            border-radius: 7px; 
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .email {
            margin-top: 30px;
            color: #FFFFFF;
            font-family: 'Gotham Pro', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        .tel {
            padding: 0;
            margin-top: 10px;
            color: #FFFFFF;
            font-family: 'Gotham Pro', sans-serif;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .creator {
        margin-top: 20px;
        width: 95%;
        height: 70px;
        border-top: #828282 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .block-creator {
            width: 72.5%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            a {
                color: #F9FAFC;
                font-size: 16px;
                i {
                    padding-right: 5px;
                }
            }
        }
        
    }
}